<!-- <h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p> -->

<div class = "container">
  <div class = "col">
    <div id="map" style="width:400px;height:400px">
      <script src="https://maps.googleapis.com/maps/api/js?callback=getMap"></script>
    </div>
  </div>
  <div class = "col">
    <div class = "col">
      <ul class = "tab">
        <li><a href = "javascript:void(0)" class="tablinks" onclick="openCity(event, 'Coquitlam')">Coquitlam</a></li>
        <li><a href = "javascript:void(0)" class="tablinks" onclick="openCity(event, 'Langley')">Langley</a></li>
      </ul>
      <div id="Coquitlam" class="tabcontent">
        <h3>Momentum Therapeutics</h3>
        <p>London is the capital city of England.</p>
      </div>

      <div id="Paris" class="tabcontent">
        <h3>Paris</h3>
        <p>Paris is the capital of France.</p>
      </div>
    </div>
  </div>
</div>
