<!-- <h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p> -->
<section id = "header"></section>
<section id = "aboutme">
  <div class = "box style1">
    <div class = "center-block">

    <div class = "inner row">
      <div class = "col col-30">
        <div id = "profile">
        <%= image_tag("display-picture.png", :size=>"200x200", class:"profile-img") %>
      </div>
      </div>
      <div class = "col col-70">
        <h1>Xiaohong Cao</h1>
        <p>
          Registered member of the College of Traditional Chinese Medicine Practitioners and
          Acupuncturists of British Columbia.
          Graduated from University of Shanghai Traditional Chinese Medicine in China in 1992.
          Over 20 years Acupuncture experiences in China and in Canada.
        </p>
    </div>
  </div>
  </div>
</section>
<section id = "services">
  <div class = "box style2">
  <div class = "inner row">
  <div class = "col col-50">
    <h3>Our Clinic Provides:</h3>
      <li>Acupuncture with disposable needle used for every treatment</li>
      <li>Electro Acupuncture</li>
      <li>Moxibustion Therapy</li>
      <li>Cupping</li>
      <li>Acupressure (Chinese Traditional Massage or Tuina )</li>
      <li>Ear Acupuncture</li>
</div>
<div class = "col col-50">
  Specializes in treating:
Pain Management:  neck pain, back pain, sciatica,knee pain, shoulder pain, frozen shoulder, migraine headache...
Woman's Health:
Female Hormone balancing: Menstrual Cramps, irregular menstruation, fertility,menopause
Support IUI, IVF
Stress Management:  Depression, stress, insomnia, chronic fatigue, panic attack, Irritable bowel syndrome, addiction...
Body Tune Up
Facial Rejuvenation
</div>
</div>
</div>
</section>
