/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.inner{
  padding-left: 4em ;
  padding-right: 4em ;
}
.center-block{
    position: absolute;
    top: 50% ;
    transform: translateY(-50%);
}

.box{
  position: relative;
  height: 300px ;
}
.style1{
  top: 50% ;
  bottom: 50% ;
}

#nav{
  position: absolute ;
  text-align: center ;
  width: 100% ;
  padding: 1.5em 0 1.5em 0 ;
}
  #nav > ul {

  }

  #nav > ul > li{
    display: inline-block;
  }


#header{
  height: 100vh ;
  background-color: pink ;
}

.profile-img{
  border-radius: 50% ;
  padding-left: 2em ;
  padding-right: 2em ;
  float:right;
}

/***** GRID *****/
.row{
  width: 100% ;
  box-sizing: border-box;
}

.col{
  float:left ;
}

.col-30{
  width: 30% ;
}

.col-70{
  width: 70% ;
}
.col-50{
  width: 50% ;
}
