<!DOCTYPE html>
<html>
  <head>
    <title>Bettercare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id = "nav">
      <ul class = "navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/static_pages/info">About Acupuncture</a></li>
        <li><a href="/static_pages/FAQ">FAQ</a></li>
        <li><a href="/static_pages/fees">Pricing</a></li>
        <li><a href="/static_pages/contact">Contact Us</a></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
